@page "/TestingApi"
@using BlazorApp1.Models
@using Newtonsoft.Json
@inject HttpClient Http
@using System.Net
<h3>TestingApi</h3>
@if (_userInfos == null)
{
    <p>
        <em>Looding...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FullName</th>
                <th>Login</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var element in _userInfos)
            {
                <tr>
                    <td>@element.Id</td>
                    <td>@element.FullName</td>
                    <td>@element.Login</td>
                    <td>@element.Password</td>
                </tr> 
            }
        </tbody>
    </table>
}
@code
{
    private List<UserInfo>? _userInfos;

    protected override async Task OnInitializedAsync()
    {
        using (var client = new HttpClient())
        {
            HttpResponseMessage requestMessage = await client.GetAsync("http://localhost:5110/api/Controller2/GetUserInfo");
            if (requestMessage.IsSuccessStatusCode)
            {
                string content = await requestMessage.Content.ReadAsStringAsync();
                _userInfos = JsonConvert.DeserializeObject<List<UserInfo>>(content)!.ToList();
            }
        }
    }
}